/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

@media (prefers-color-scheme: light) {
	body {
		background-color: #FAFAFC;
		color: #7c848d;
	}
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
	body {
		background-color: #2A3038;
		color: #9AA0A6;
	}
}

.container {
	width: 15rem;
	height: 5rem;
}

.form {
	display: flex;
	gap: 2rem;
	width: 100%;
	height: 100%;
	/* font-family: 'Roboto', sans-serif; */
	visibility: visible;
}

h2 {
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	/* color: #281b1b; */
}

.wrapper {
	display: block;
	width: 100%;
	height: 100%;

}

.input-container {
	display: flex;
	gap: 0.5rem;
	width: 100%;
	height: 2rem;
}

.input-style {
	border-radius: 0.2rem;
	border: none;
	background-color: #F3F4F8;
	padding: 0 5px;
}

.input-style:focus-visible {
	outline: #736363;
}

.image-container {
	display: flex;
	justify-content: center;
	height: 80%;
	width: 100%;
}